<html>
    <head>
    </head>
    <body>
        <div>
            <a href="http://127.0.0.1:8080/addfacility">Add Facility</a>
            <a href="http://127.0.0.1:8080/viewfacility">View Facilities</a>
            <a href="http://127.0.0.1:8080/updatefacility">Update Facility</a>
            <a href="http://127.0.0.1:8080/deletefacility">Delete Facility</a>
            <a href="http://127.0.0.1:8080/addclassroom">Add Classroom</a>
            <a href="http://127.0.0.1:8080/viewclassroom">View Classrooms</a>
            <a href="http://127.0.0.1:8080/updateclassroom">Update Classroom</a>  
            <a href="http://127.0.0.1:8080/deleteclassroom">Delete Classroom</a>
            <a href="http://127.0.0.1:8080/addteacher">Add Teacher</a>
            <a href="http://127.0.0.1:8080/viewteacher">View Teachers</a>
            <a href="http://127.0.0.1:8080/updateteacher">Update Teacher</a>
            <a href="http://127.0.0.1:8080/deleteteacher">Delete Teacher</a>
            <a href="http://127.0.0.1:8080/addchild">Add Child</a>
            <a href="http://127.0.0.1:8080/viewchild">View Children</a>
            <a href="http://127.0.0.1:8080/updatechild">Update Child</a>
            <a href="http://127.0.0.1:8080/deletechild">Delete Child</a>
        </div>
        <br>
        <form action="/formupdatefacility" method="post">
            <label for="facnametoupdate">Select Facility Name to Update:</label><br>
            <select name="facnametoupdate" id="facnametoupdate"> 
            <% facilities.forEach(function(facility) { %>
                <option> <%= facility.name %> </option>
            <% }); %>
            </select>
            <br>
            <br>
            <label for="newfacname">Enter New Facility Name:</label><br>
            <input type="text" id="newfacname" name="newfacname"><br><br>
            <input type="submit">
        </form>
    </body>
</html>
