<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <main>
        <div>
            <form action="/process_login" method="post">
                <div>
                    <label>User name</label>
                    <input type="text" id="username" name="username" placeholder="Username" required
                    autofocus>
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password" id="inputPassword" placeholder="Password"
                    required>
                 </div>
                <input type="submit">
            </form>
        </div>
    </main>
</body>
</html>